*.class

# Package Files #
*.jar
*.war
*.ear
spring-richclient-core/target/
spring-richclient-archetype/target/
spring-richclient-core/target/
spring-richclient-integrations/spring-richclient-flexdock/target/
spring-richclient-integrations/spring-richclient-jideoss/target/
spring-richclient-integrations/spring-richclient-swingdocking/target/
spring-richclient-integrations/spring-richclient-vldocking/target/
spring-richclient-jdk6/target/
spring-richclient-resources/target/
spring-richclient-samples/spring-richclient-samples-dataeditor/target/
spring-richclient-samples/spring-richclient-samples-showcase/target/
spring-richclient-samples/spring-richclient-samples-simple/target/
spring-richclient-samples/spring-richclient-samples-swingdocking/target/
spring-richclient-samples/spring-richclient-samples-vldocking/target/
spring-richclient-sandbox/target/
spring-richclient-manual/target/
